extends template

block title
  title Главная страница

block content
    .img-f-0 
      .img-f-1 
        a(href="Page_03.html") 
          img(src='img/spotify2.jpg')
        img(src='img/vk.png')
        img(src='img/boom.jpeg')
        img(src='img/yandex.jpg')
        img(src='img/apple.png')
        img(src='img/soundcloud.jpg')

    .block-title
      .title
        p.
          Немного о стриминговых сервисах и их выплатах
      p.
      p.
      p.
        <b>Стриминговый сервис</b> – это компании, которые имеют доступ к хранилищам 
        музыкального контента в цифровом виде и обеспечивают его воспроизведение по 
        запросу пользователей через интернет на различных устройствах (смартфонах, 
        беспроводных колонках, медиапроигрывателях и т.д.)
      p.
        Стримминг музыки это процесс прослушивания музыкального контента онлайн путём 
        непрерывного получения небольших частей музыкального файла и их воспроизведение. 
        Иными словами это просто прослушивание музыки при её загрузке на ваше устройство 
        в режиме реального времени. Под загрузкой не стоит понимать скачивание в файл, 
        так как это разные вещи, но технически, если файл можно прослушать стриммингом 
        то его можно и скачать при помощи специального ПО.
      p.
        Количество выручки от стриминга исполнителю зависит от прослушиваний и их вида. 
        За последние годы выручка выросла на 34,0%, что обусловлено ростом дохода от 
        платной подписки на 32,9%. На конец 2020 года платными стриминговыми сервисами 
        пользовалось 555 млн. пользователей, что составляет 47% от общего дохода индустрии 
        звукозаписи. Рост популярности стриминговой передачи более чем компенсировал 
        снижение от продаж на физических носителях (-10,1%) и снижение доходов от 
        скачиваний на 21,2%
    
    .block-title
      .title
        p.
          Виды подписок
      ol
        li Платная;
        li Бесплатная
      p.
        От вида подписки зависит заработок исполнителя. Платная подписка позволяет 
        стриминговым сервисам каждый месяц получать некую крупную, но непостоянную сумму 
        денег, которая позволяет им заработать и выплатить деньги исполнителям. При 
        бесплатной подписке стриминговый сервис зарабатывает с рекламы, которая 
        переодически появляется в начале музыкальных треков.

    .block-title
      .title
        p.
          История
      p.
        Продажа музыки через интернет давно стала обыденным делом. Специальные сервисы 
        предоставляют исполнителям возможность выложить свои треки и получать за них 
        деньги от реальных слушателей. По сути, это большие интернет-магазины музыки, 
        в которых любой посетитель может либо выбрать трек, купить его и прослушать, 
        либо заплатить за подписку, либо просмотреть рекламу (с чего автор получит доход) 
        и т.д.
      p.
        Лидером по выплатам в России является Apple Musiс. Ссылками на этот источник 
        артисты делятся охотнее и преимущественно указывают его в числе первых на своих 
        информационных ресурсах. Мы замечаем это на страницах музыкантов, созданных на 
        нашей платформе для продвижения музыки. В числе самых низкодоходных площадок по 
        сумме выплат за одно прослушивание Яндекс.Музыка, но по общему числу прослушиваний 
        она находится в первых рядах после социальной сети «ВКонтакте» и плеера BOOM. 
        В 2020 году также в России заработал плеер Spotify, самый крупный в мире по 
        количеству подписчиков и другим параметрам. Конкуренция за слушателей между 
        площадками увеличилась.